.titleBar {
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 2px solid var(--primary-yellow);
  }
  
  .linkBtn {
    margin: 0 0.5rem;
    background-color: transparent;
    color: rgb(219, 30, 30);
    border: 2px solid var(--secondary-red);
  }
  
  .detailsContainer {
    margin-top: 3rem;
    border: 2px solid var(--secondary-purple);
    background-color: var(--card-bg-color);
    color: rgb(96, 10, 153);
    width: 900px;
    height: 450px;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.3);
    padding: 10px;
  }
  
  .titulo {
    font-family: var(--);
    font-size: x-large;
    color: var(--secondary-purple);
  }
  .data {
    font-family: var(--);
    font-size: 20px;
  }
  .image {
    border-radius: 10px;
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.5);
  }
  