p {
    color: rgba(3, 3, 3, 0.856);
    font-weight: 600;
  }
  
  h3 {
    margin: 0.1rem 0;
  }
  
  h4 {
    margin: 0.1rem 0;
  }
  
  .imgContainer {
    height: 200px;
    overflow: hidden;
  
    /* object-fit: cover; */
  }
  .imgContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 3px rgba(148, 5, 119, 0.774);
  }