.searchBar {
    margin-left: 0.23rem;
  }
  
  .searchBtn {
    border: none;
    padding: 0.2rem 0.3rem;
    color: rgb(56, 223, 14);
    background-color: rgba(211, 24, 24, 0.5);
    border-radius: 7px;
    font-size: 1rem;
    cursor: pointer;
  }